build/
buildDir/
scompile/

subprojects/*
!subprojects/*.wrap

packagecache/

meson-info/
meson-logs/
meson-private/

.idea/
*.iml
*.iws
*.ipr

.vscode/

*.swp
*.swo
*~
.tags

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini
